@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.nowrap{
    white-space: nowrap;
}
body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;

    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
    display: flex;
    flex-direction: column;

}

html{
    scroll-behavior: smooth;
    
}

.side-bar{
    background-color: #1e293b;
    /* background-color: white; */
    width: 40%;
    left: -40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active{
    left: 0;
}
.close-btn{
    position: absolute;
    color: black;
    font-size: 25px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
}

.menu a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a, menu a:visited{
    color: white;
}

.menu-btn{
    position: fixed;
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}
header,footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header{
    top: 0;
}
header h1{
    font-size: 40px;
    text-align: center;
}
header h5{
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
}
nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a, nav a:visited{
    color: black;
}

nav a:hover, nav a:focus{
    color: hsla(0, 0%, 20%, 0.6);
}

input[type=text]{
    position: sticky;
    /* float: right; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer{
    bottom: 0;
}

.card{
    scroll-margin-top: 8rem;
    width: min(100%,300px);
    background-color: #cbd5e1;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    border: 5px double #333;
    border-radius: 50%;
}

.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.contact a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 10px 15px 30px 15px;
    opacity: 1;
}
.contact a:hover{
    background-color: #475569;
    color: #cbd5e1;
    box-shadow: 0 0 20px  #475569;
}
@media screen and (min-width: 576px){
    main{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1 rem;
    }
    .card{
        width:min(100%,400px);
    }
    .card:last-child{
        order:-1;
    }
}

@media screen and (min-width: 768px){
    nav{
        display: none;
    }
    .card{
        width: min(100%,325px);
    }
    .card figure{
        flex-flow: column-reverse;
    }
    .card p{
        margin-top: 0.25rem;
    }
}

@media screen and (min-width: 992px){
    .card{
        width: min(100%,400px);
    }
    .card:nth-child(2){
        order:-1;
    }
    .contact a{
        margin-top: 20px;
    }
    .card p{
        margin-top: -10px;
    }

}

@media screen and (min-width: 1200px){
    .card{
        width: min(33% - 1rem,500px);
        padding: 3rem;
    }
    .contact a{
        margin-top: 20px;
    }
    .card p{
        margin-top: -10px;
    }

}

/* mobile landscape*/
@media screen and (max-height:425px) and (min-aspect-ratio: 7/4){
    h1{
        font-size: 1.5rem;
    }

    nav{
        display: none;
    }

    main{
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card{
        width: min(33% - 0.25rem,200px);
    }

    .card figcaption,
    .card p{
        font-size: 1rem;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}